<%= turbo_frame_tag :character_summary, class: "CharacterSummary" do %>
  <div class="CharacterSummary-name">
    <%= name %>
    Lvl. <%= level %>
  </div>

  <% if show_status? %>
    <%= render(
      ProgressBarComponent.new(
        name: :player_hp,
        label: "HP",
        previous_value: previous_hp,
        current_value: current_hp,
        max_value: max_hp,
        color: :red,
        show_value: true
      )
    ) %>

    <%= render(
      ProgressBarComponent.new(
        name: :player_xp,
        label: "XP",
        previous_value: previous_xp_progress_to_next_level,
        current_value: xp_progress_to_next_level,
        max_value: xp_needed_from_current_to_next_level,
        color: :black,
        width: :thin
      )
    ) %>    
  <% end %>
<% end %>
