<div id="character_summary">
  <div class="text-xl font-bold mb-2">
    <%= name %>
    Lvl. <%= level %>
  </div>

  <% if show_status? %>
    <%= render(
      ProgressBarComponent.new(
        name: :player_hp,
        label: "HP",
        previous_value: previous_hp,
        current_value: current_hp,
        max_value: max_hp,
        color: :red
      )
    ) %>

    <%= render(
      ProgressBarComponent.new(
        name: :player_mp,
        label: "MP",
        current_value: 100,
        max_value: 100,
        color: :blue
      )
    ) %>

    <%= render(
      ProgressBarComponent.new(
        name: :player_xp,
        label: "XP",
        current_value: xp_progress_to_next_level,
        max_value: xp_needed_from_current_to_next_level,
        color: :black,
        width: :thin
      )
    ) %>    
  <% end %>
</div>
