<div id="character_summary">
  <div class="text-xl font-bold mb-1">
    <%= name %>
    <% if show_status? %>
      Lvl. <%= level %>
    <% end %>
  </div>

  <% if show_status? %>
    <div>
      HP: <%= current_hp %> / <%= max_hp %>
    </div>

    <div>
      XP: <%= xp_progress_to_next_level %> / <%= xp_between_current_and_next_level %>
    </div>
  <% end %>
</div>
