<%= turbo_frame_tag "character_stats-#{character.id}" do %>
  <div class="CharacterStats">
    <% TOP_ROW_STATS.each do |stat| %>
      <div class="CharacterStats-attribute">
        <div class="CharacterStats-attributeValue">
          <%= stat.to_s.titleize %>
          <%# TODO: add tooltip with description of each stat %>
        </div>

        <div class="CharacterStats-attributeLabel">
          <%= character.send(stat) %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="CharacterStats">
    <% BOT_ROW_STATS.each do |stat| %>
      <div class="CharacterStats-attribute">
        <div class="CharacterStats-attributeValue">
          <%= stat.to_s.titleize %>
          <%# TODO: see above^ %>
        </div>

        <div class="CharacterStats-attributeLabel">
          <%= character.send(stat) %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
