<div class="mb-4">
  <div class="text-xl font-bold mb-1">
    <%= name %> Lvl. <%= level %>
  </div>

  <div>
    HP: <%= current_hp %> / <%= max_hp %>
  </div>

  <%# TODO: calculate XP between current level and next instead of total XP %>
  <div>
    XP: <%= xp %> / <%= xp_to_next_level %>
  </div>
</div>
