<%= turbo_frame_tag "monster_summary-#{monster.id}" do %>
  <div class="MonsterSummary">
    <div class="MonsterSummary-details <%="MonsterSummary-details--defeated" if monster.defeated? %>">
      <div class="MonsterSummary-name">
        <%= name_and_level %>
        <% if monster.defeated? %>
          <span class="MonsterSummary-defeatedTag">
            (defeated)
          </span>
        <% end %>
      </div>

      <% if dungeon_run.active? && monster.alive? %>
        <%= button_to(
          "Attack",
          attack_dungeon_run_monster_path(dungeon_run, monster),
          class: "Button Button--compact"
        ) %>
      <% end %>
    </div>
    
    <% if monster.defeated? %>
      <% monster.inventory_items.each do |inventory_item| %>
        <div class="MonsterSummary-loot">
          <span class="MonsterSummary-lootName">
            <%= inventory_item.name %>
          </span>

          <%= button_to(
            "Take",
            loot_dungeon_run_inventory_item_path(dungeon_run, inventory_item),
            class: "Button Button--compact"
          ) %>
        </div>
      <% end %>
    <% else %>
      <%# TODO: add previous_value for monster hp %>
      <%= render(
        ProgressBarComponent.new(
          name: "monster_hp-#{monster.id}",
          label: "HP",
          current_value: monster.current_hp,
          max_value: monster.max_hp,
          color: :red,
          show_value: true
        )
      ) %>
    <% end %>
  </div>
<% end %>
