<%= turbo_frame_tag "npc_summary-#{non_player_character.id}" do %>
  <div class="NpcSummary">
    <div class="NpcSummary-label">
      <div class="NpcSummary-name">
        <%= non_player_character.name %>

        <span class="NpcSummary-level">
          Lvl. <%= non_player_character.level %>
        </span>
      </div>

      <%# TODO: dynamically generate list of actions based on hostility, creature type, etc. %>
      <div class="NpcSummary-actions">
        <%= link_to(
          "Talk",
          "#",
          class: "Button Button--compact"
        ) %>
        <%= link_to(
          "Trade",
          "#",
          class: "Button Button--compact"
        ) %>
        <%= link_to(
          "Battle",
          "#",
          class: "Button Button--compact"
        ) %>
      </div>
    </div>

    <%# TODO: add previous_value for non_player_character hp %>
    <%= render(
      ProgressBarComponent.new(
        name: "npc_hp-#{non_player_character.id}",
        label: "HP",
        current_value: non_player_character.current_hp,
        max_value: non_player_character.max_hp,
        color: :red,
        show_value: true
      )
    ) %>
  </div>
<% end %>
