<%= turbo_frame_tag "pc_item-#{inventory_item.id}" do %>
  <div class="PcItem">
    <div>
      <div>
        <%= inventory_item.name %>

        <% if inventory_item.stackable? %>
          <i class="PcItem-quantity">
            x<%= inventory_item.quantity %>
          </i>
        <% end %>
      </div>

      <div class="PcItem-traits">
        <div>
          <% inventory_item.traits.sort.each do |trait| %>
            <div class="PcItem-trait">
              <%= trait.name %>
              <%# TODO: add tooltip with trait description %>
            </div>
          <% end %>
        </div>

        <div class="PcItem-modifiers">
          <% inventory_item.modifiers.order(value: :desc, stat: :asc).each do |modifier| %>
            <div class="PcItem-modifier">
              <%= "+" if modifier.value.positive? %><%= modifier.value %><%= "%" if modifier.percent? %>
              <%= modifier.stat.downcase %>
            </div>
          <% end %>
        </div>
      </div>
      <%# TODO: list modifiers on equipment %>
    </div>

    <div>
      <% if inventory_item.equippable? %>
        <%= button_to(
          equip_text,
          toggle_inventory_item_path(inventory_item),
          class: "Button Button--compact"
        ) %>
      <% end %>
    </div>
    <%# TODO: add actions like "drop" and "mark as trash" %>
  </div>
<% end %>
