<div id="dungeon_panel" class="pt-4">
  <%# exit dungeon button %>
  <%# TODO: convert this into a slide-out menu %>
  <%= button_to(
    end_dungeon_run_path(dungeon_run),
    class: "Button Button--red Button--icon absolute top-2 right-2",
    data: { "turbo-confirm": "Are you sure you want to end this run?" }
  ) do %>
    <%= render "icons/exit" %>
  <% end %>

  <%= render CharacterSummaryComponent.new(dungeon_run.character) %>

  <div class="flex justify-end">
    <%= link_to "Inventory", character_inventory_items_path(dungeon_run.character), class: "Button Button--green Button--compact" %>
  </div>

  <hr class="my-4" />

  <%= render DungeonRunSummaryComponent.new(dungeon_run) %>

  <hr class="my-4" />

  <% if dungeon_run.current_room.monsters.any? %>
    <div id="monsters">
      <% dungeon_run.current_room.monsters.each do |monster| %>
        <%= turbo_frame_tag "monster-#{monster.id}" do %>
          <%= render MonsterSummaryComponent.new(monster:, dungeon_run:) %>
        <% end %>
      <% end %>

      <%= render "layouts/flash_messages" %>
    </div>
  <% end %>

  <%= render NavigationComponent.new(dungeon_run) if dungeon_run.active? %>
  <%= render JournalComponent.new(dungeon_run.event_logs) %>
</div>
