<div id="dungeon_panel" class="DungeonPanel">
  <%# exit dungeon button %>
  <%= button_to(
    end_dungeon_run_path(dungeon_run),
    class: "Button Button--red Button--icon Button--corner",
    data: {
      "turbo-confirm": "Are you sure you want to end this run?",
      "turbo-frame": :_top
    }
  ) do %>
    <%= render "icons/exit" %>
  <% end %>

  <%= render CharacterSummaryComponent.new(dungeon_run.character) %>

  <div class="DungeonPanel-menu">
    <%= link_to "Inventory", character_inventory_items_path(dungeon_run.character), class: "Button Button--green Button--compact" %>
  </div>

  <hr class="Break" />

  <div class="DungeonPanel-nav">
    <%= render DungeonRunSummaryComponent.new(dungeon_run) %>

    <%= render NavigationComponent.new(dungeon_run) if dungeon_run.active? %>
  </div>

  <hr class="Break" />

  <div class="DungeonPanel-body">
    <% if dungeon_run.current_room.monsters.any? %>
      <div id="monsters">
        <% dungeon_run.current_room.monsters.each do |monster| %>
          <%= render MonsterSummaryComponent.new(monster:, dungeon_run:) %>
        <% end %>

        <%= render "layouts/flash_messages" %>
      </div>
    <% end %>
  </div>

  <%= render JournalComponent.new(dungeon_run.event_logs.reload.recent) %>
</div>
