<%= turbo_frame_tag :dungeon_panel do %>
  <%= render CharacterSummaryComponent.new(dungeon_run.character) %>

  <div class="mb-2 font-bold">
    <%= dungeon_run.dungeon.name %>
  </div>

  <div class="mb-2">
    <b>Final Floor:</b>
    <%= dungeon_run.current_room.floor.level %>
  </div>

  <div class="mb-2">
    <b>Final Room:</b>
    <%= dungeon_run.current_room.name %>
  </div>

  <div class="mb-2">
    This run ended because:
  </div>

  <% case dungeon_run.ended_reason %>
  <% when DungeonRun::EndedReason::COMPLETED %>
    <div class="Flash Flash-notice mb-4">
      You completed the dungeon!
    </div>
  <% when DungeonRun::EndedReason::DIED %>
    <div class="Flash Flash-alert mb-4">
      You died...
    </div>
  <% when DungeonRun::EndedReason::ELECTIVE %>
    <div class="Flash Flash-notice mb-4">
      You chose to leave.
    </div>
  <% end %>

  <%= link_to "Back to characters", characters_path, class: "Link", data: { "turbo-frame": :_top} %>
<% end %>
