<div class="mb-2">
  You're in the <strong><%= dungeon_run.dungeon.name %></strong> dungeon
</div>

<%= turbo_frame_tag :dungeon_panel do %>
  <div class="mb-2">
    <div>
      <b>Location:</b>
      <%= dungeon_run.current_room.name %>
    </div>
  </div>


  <div class="mb-4">
    <% %w[north east south west].each do |direction| %>
      <% if dungeon_run.current_room.send(:"#{direction}_room").present? %>
        <div class="mb-1">
          <b><%= direction.titleize %>:</b>
          <%=
            link_to(
              dungeon_run.current_room.send(:"#{direction}_room").name,
              go_dungeon_run_path(dungeon_run, direction:),
              class: "Link"
            )
          %>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if dungeon_run.current_room.monsters.any? %>
    <div class="mb-4">
      <div class="text-xl font-bold mb-1">
        Look out!
      </div>

      <% dungeon_run.current_room.monsters.each do |monster| %>
        <div class="mb-1">
          <%= monster.name %>
          <%= button_to "Attack", attack_monster_path(monster), class: "Button" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if dungeon_run.current_room.exit? %>
    <div>
      <i>There's an exit...</i>
      <%=
        button_to(
          "Leave Dungeon",
          end_dungeon_run_path(dungeon_run),
          class: "Button",
          form: { data: { "turbo-frame": "_top" } }
        )
      %>
    </div>
  <% end %>
<% end %>
