<%= turbo_frame_tag :dungeon_panel do %>
  <%# Dungeon name and exit button %>
  <div class="flex justify-between mb-2">
    <div>
      <strong><%= dungeon_run.dungeon.name %></strong>
    </div>

    <%= button_to(
      end_dungeon_run_path(dungeon_run),
      class: "Button Button--red Button--icon",
      data: { "turbo-confirm": "Are you sure you want to end this run?" }
    ) do %>
      <%= render "icons/exit" %>
    <% end %>
  </div>

  <%# current floor %>
  <div class="mb-2">
    <b>Current Floor:</b>
    <%= dungeon_run.current_room.floor.level %>
  </div>

  <%# current room %>
  <div class="mb-2">
    <b>Current Room:</b>
    <%= dungeon_run.current_room.name %>
  </div>

  <%# doors - TODO: improve layout/navigation %>
  <div class="mb-4">
    <% %w[north east south west].each do |direction| %>
      <% if dungeon_run.current_room.send(:"#{direction}_room").present? %>
        <div class="mb-1">
          <b><%= direction.titleize %>:</b>
          <%=
            link_to(
              dungeon_run.current_room.send(:"#{direction}_room").name,
              go_dungeon_run_path(dungeon_run, direction:),
              class: "Link"
            )
          %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= render CharacterSummaryComponent.new(dungeon_run.character) %>

  <% if dungeon_run.current_room.monsters.any? %>
    <div class="mb-4">
      <div class="text-l font-bold mb-1">
        Monsters
      </div>

      <% dungeon_run.current_room.monsters.each do |monster| %>
        <div class="mb-4 flex flex-col justify-center">
          <div class="mb-2">
            <%= monster.name %> Lvl. <%= monster.level %>
          </div>

          <div class="mb-2">
            HP: <%= monster.current_hp %> / <%= monster.max_hp %>
          </div>
          
          <% unless monster.defeated? %>
            <%=
              button_to(
                "Attack",
                attack_dungeon_run_monster_path(dungeon_run, monster),
                class: "Button"
              )
            %>
          <% end %>
        </div>
      <% end %>

      <%= render "layouts/flash_messages" %>
    </div>
  <% end %>

  <% if dungeon_run.current_room.above_room.present? %>
    <div>
      <div>
        <i>There's a staircase leading UP...</i>
      </div>
      <%=
        link_to(
          "Go Up Stairs",
          go_dungeon_run_path(dungeon_run, direction: :above),
          class: "Button",
          data: { "turbo-frame": "_top" }
        )
      %>
    </div>
  <% end %>

  <% if dungeon_run.current_room.below_room.present? %>
    <div>
      <div>
        <i>There's a staircase leading DOWN...</i>
      </div>
      <%=
        link_to(
          "Go Down Stairs",
          go_dungeon_run_path(dungeon_run, direction: :below),
          class: "Button",
          data: { "turbo-frame": "_top" }
        )
      %>
    </div>
  <% end %>
<% end %>
