<div id="game_panel" class="GamePanel">
  <div class="GamePanel-heading">
    <%= render HeadingComponent.new(tag: :h2, title: save_file.name) %>

    <div class="GamePanel-links">
      <%# TODO: add settings page %>
      <%= link_to save_file_player_characters_path(save_file), class: "Button Button--blue Button--icon" do %>
        <%= render "icons/cube" %>
      <% end %>
    </div>
  </div>

  <div class="GamePanel-characters">
    <% save_file.player_characters.each do |pc| %>
      <%= render PcSummaryComponent.new(pc) %>
    <% end %>
  </div>

  <hr />

  <div class="GamePanel-nav">
    <div class="GamePanel-location">
      <div class="GamePanel-locationTitle">
        <%= render HeadingComponent.new(tag: :h3, title: save_file.location.map.name, classes: "GamePanel-locationMap") %>

        <div class="GamePanel-locationTile">
          <%= save_file.location.name %>

          <span class="GamePanel-locationCoords">
            (<%= save_file.location.x %>, <%= save_file.location.y %>, <%= save_file.location.z %>)
          </span>
        </div>
      </div>

      <div class="GamePanel-locationDescription">
        <%= save_file.location.description.presence || "Nothing of note..." %>
      </div>
    </div>

    <%# TODO: dynamically generate list of actions based on location, enemies, etc. %>
    <div class="GamePanel-actions">
      <%= link_to(
        "Search",
        "#",
        class: "Button Button--compact"
      ) %>
      <%= link_to(
        "Fight",
        "#",
        class: "Button Button--compact"
      ) %>
      <%= link_to(
        "Other",
        "#",
        class: "Button Button--compact",
      ) %>
    </div>

    <%= render MinimapComponent.new(save_file.location) %>

    <%= render NavigationComponent.new(save_file.location) %>
  </div>

  <div class="GamePanel-encounters">
    <% if save_file.location.non_player_characters.any? %>
      <div id="monsters">
        <% save_file.location.non_player_characters.each do |npc| %>
          <%= render NpcSummaryComponent.new(npc) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
